### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
*.class
*.log
.idea/
*.iml
.iml
*.ipr
*.iws
out/
build/
target/
.gradle/
build/
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.tar
*.7z
*.gz
*.bz2
*.xz
*.swp
*.swo
*.tmp
*.bak
*.orig
*.user
*.sublime-workspace
*.sublime-project

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
